.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero {
  min-height: 60vh;
  background: linear-gradient(90deg, #e7db76 0.25%, #5dcb36 100%);
}

/* title */
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.title span {
  padding: 0 1rem;
  border-bottom: 0.4rem solid yellowgreen;
}

/* icons */
.icons {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icons i {
  font-size: 5rem;
}

.icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

/* Project section */
.projects {
  background: rgba(231, 213, 118, 0.41);
}

/* contact me section */
.contact {
  background: rgba(93, 203, 54, 0.62);
}

/* up button  */
.goup {
  position: fixed;
  bottom: 125px;
  right: 20px;
}
